body{background:black; margin:0}
.aa{translate:1230px}
.a{ translate:0px -80px}
.ss{ translate: 0px 412px}
.s{ translate:1230px 332px}
.z{ translate:615px -50px}
.m{width:80px;height:80px;background:yellow}

